{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <div class="container">

       <img src="http://127.0.0.1:9000/images/products/{{ product.id }}.png"  alt=""/>

        <h1>Название: {{ product.name }}</h1>
        <span>Описание: {{ product.description }}</span>
        <span>Цена: {{ product.price }} рублей</span>

       <a href="/">
            <button>Назад</button>
       </a>

    </div>

</body>
</html>